@font-face {
    font-family: 'iconfont';  /* project id 211389 */
    src: url('//at.alicdn.com/t/font_jx744zushziwwmi.eot');
    src: url('//at.alicdn.com/t/font_jx744zushziwwmi.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_jx744zushziwwmi.woff') format('woff'),
    url('//at.alicdn.com/t/font_jx744zushziwwmi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_jx744zushziwwmi.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont";
    font-size:16px;font-style:normal;
}
img{
    width:100%;
}
.row{
    margin:0px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding:0.5rem;
}

.no_mar{
    margin: 0px;
}
.mt_5{
    margin-top:0.5rem;
}

.f_8{
    font-size:0.8rem;
}

.no_pad{
    padding:0px !important;
}
.no_pad_t{
    padding-top:0px;
}

.bold{
    font-weight:bold;
}
.title_bold{
    font-weight:bold;
    font-size:1.8rem;
}

.w80{
    width:80%;
}
.w90{
    width:90%;
}

.bg_fff{
    background: #fff !important;
}
.white{
    color:white;
}
.red{
    color:#ff3939;
}
.black{
    color:#1a1a1a;
}
.gray{
    color:#919191;
}

.f1{
    font-size:1rem;
}
.f1_5{
    font-size:1.5rem;
}
.f2{
    font-size:2rem;
}

.lh1{
    line-height: 1rem;
}
.lh1_5{
    line-height: 1.5rem;
}
.lh2{
    line-height: 2rem;
}

.border_b{
    border-bottom:#919191 solid 1px;
}
.e6{
    border-bottom: #e6e6e6 solid 1px;
}
body{
    margin:0px;
    padding:0px;
    background: #f6f6f6;
    font-family: 微软雅黑;
}

header{
    background: #fff;
    width:100%;
    line-height:2rem;
    position: fixed;
    top:0px;
    left:0px;
    z-index:9;
    padding:0.4rem 0rem;
    border-bottom: #e6e6e6 solid 1px;
}
header .logo{
    background: url("../images/common/logo.jpg") center center no-repeat;
    background-size:65%;
}
header .pad_center{
    padding-left:8rem;
    font-size:1.6rem;
}
.sec_con{
    margin-top:4rem;
}
.btn_active{
    background-color: #ff3939;
    border-radius: 0px;
    color: #fff;
}
.btn_no_active{
    background-color: #919191;
    border-radius: 0px;
    color: #fff;
}
.btn_active:hover{
    background-color: #ff3939;
    border-radius: 0px;
    color: #fff;
}
.btn_no_active:hover{
    background-color: #919191;
    border-radius: 0px;
    color: #fff;
}
.btn_position{
    position: absolute;bottom:0px; width: 100%;
}
.layer{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height:100%;
    background: #000;
    opacity: 0.5;
    z-index:999;
}