.sec_pa{
    padding-top:1.5rem;
}
.panel-wd{
    width:90%;
    margin:0 auto;
}
.co-h{
    margin-top: -3rem;
    margin-left: 3.5rem;
    color:#ff3939;
}
.co-s{
    line-height:3rem;
    margin-left:2rem;
    color:#ff3939;
}
.co-title{
    font-size:2rem;
}
.co-sy{
    font-size:1.5rem;
    color:#6e6e6e;
    /*padding-top:-3rem;*/
}
.co-m{
    margin-left:1rem;
}
.co-left{
    margin-top:.8rem;
}
.co-li{
    border-bottom:#e6e6e6 dotted 1px;
}
.co-f{
    color:#919191;
    margin-top:.5rem;
}
.panel-body{
    padding-bottom:0rem;
}
.sec-j{
    margin-top:.5rem;
}
.co-ps{
    padding-left:2rem;
}