.lan img{
    width:50%;
    margin-top:12rem;
}
.sale img{
    width:25%;
    margin-top:-2em;

}
.login{
    margin:0 auto;
}

.name, .pwd{}

.name{
    width:100%;
    padding-left:9rem;
    height:4.8rem;
    line-height:4.8rem;
    background:url(../images/login/ren.png) 2rem 1.25rem no-repeat;
    background-size:20%;
    font-size:1.8rem;
}

.pwd{
    width:100%;
    padding-left:9rem;
    height:4.8rem;
    line-height:4.8rem;
    background:url(../images/login/lock.png) 2rem 1.25rem no-repeat;
    background-size:20%;
    font-size:1.8rem;
}
.login_btn{
    height:4rem;background-color:#ff3939;color:#fff
}





