.email_icon{
    width: 50% !important;
    margin-top:-0.3rem;
}
.hlbg{
    height:20rem;
    background:url("../images/my/background.png") center -1rem no-repeat;
    background-size:100%;
}
.hl_list{
    background-color: #d45666; opacity: 0.8
}
.hl_list .row{
    opacity: 1;
}
.my .panel{
    margin-bottom:10px !important;
}