.min_font{
    font-size: 1rem;
}
.squre{
    width:2rem;
    height:2rem;
    border:red solid 1px;
    line-height: 2rem;
    border:#919191 solid 1px;
}
.squre:active{
    background-color: #7e7e82;
}
.r2{
    height:4rem;
    line-height: 3rem;
}
.car2 .panel {
    border:none;
}
.car2 .panel-body{
    padding-bottom: 0px;
    padding-top:0px;
}
.heji{
    line-height: 3.8rem;height: 3.8rem;color:#ff3939;text-align:left;padding:0px;margin:0px; padding-left: 2rem;font-size:1.6rem;
}
.kuang{
    width:2.2rem;
    height:3.4rem;
    padding-top:0.1rem;
    padding-bottom:0.1rem;
}
.kuang img{
    width:75%;
}
.kuang span{
    font-size:1rem;
}
.kuang_left{
    padding-top:0.7rem;
    padding-left:0.4em;
}
.kuang_red{
    border:red dotted 1px;
}
.kuang_gray{
    border:#000 dotted 1px;
}
.pld_2{
    padding-left:2rem;
}
.kuang2{
    width:3rem;
    height:5.5rem;
    font-size:1rem;
    text-align:center;
    line-height: 9rem;
}
.no_car{
    border:#000 dotted 1px;
}
.red_car{
    border:red dotted 1px;
    background: url(../images/park/red_car.jpg) center 0.3rem no-repeat;
}
.gray_car{
    border:#000 dotted 1px;
    background: url(../images/park/gray_car.jpg) center 0.3rem no-repeat;
    background-size: 65%;
}
.car2{
    padding-bottom:5rem;
}
.car2 table{
    margin-top:10px !important;
    margin-bottom:10px !important;
}
.car2 table tr,.car2 table td{
    border:none !important;
}