.sec_con{
    height:50rem;
}
.sec_bg{
    background:url('../images/common/ditu2.png') center center no-repeat;
    background-size:100%;
}
.lou_posi{
    position:fixed;
    right:1rem;
    top:16rem;
}
.position{
    border-radius:0.2rem !important;
    margin-top:1rem !important;
}