.res_block{
    position: absolute;
    bottom:3rem;
}
.res_btn1{
    position: absolute;
    bottom:0rem;
    padding:0px !important;
}
.font_1{
    color:#1a1a1a;
    font-size: 2.8rem;
}
.font_2{
    color:#919191;
}
.font_2 span{
    color:#ff6b6b;
}
.circle{
    width:0.6rem;height: 0.6rem;border-radius: 1rem;margin-top: 1.1rem;
}
.c_red{
    background: #ff3939;
}
.c_green{
    background: #00a0e9;
}
.in_info{
    padding:0.5rem;
}
.in_info input{
    border:none;
    padding:0.3rem 0.2rem;
}